@model IEnumerable<BikersPortal.Models.Order>

@{
    ViewData["Title"] = "Index2";
}

<body style="background-image:url(https://www.teahub.io/photos/full/29-292481_amazing-black-bike-wallpaper-backgrounds-hd-wallpapers-black.jpg);">

<h1 style="color:green">-----Your Order Placed Successfully-----</h1>

</body>
<div class="btn btn-dark">
    <a href="https://localhost:44306/Biker/Products/Index1"> Go to Shop </a>
</div>

