@model IEnumerable<BikersPortal.Models.Order>

@{
    ViewData["Title"] = "Index2";
}

<body style="background-image:url(https://cdna.artstation.com/p/assets/images/images/047/437/968/large/pixoartist-project-1-18-5.jpg?1647578559);">

<h1 style="color:green">-----Your Order Placed Successfully-----</h1>

</body>

